/Aufgabe_Mit_3_Punkte/build/
/Aufgabe_Mit_3_Punkte/dist/
/Kapitel_13_2_Loesung/build/
/Kapitel_13_2_Loesung/dist/
/Kapitel_13_3_Definition_von_Klassen/dist/
/Kapitel_13_3_Definition_von_Klassen/build/
/Konto/build/
/Konto/dist/
/Rumprobieren/build/
/Rumprobieren/dist/